<div>
  <div>
    <h1>
      List of all moods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new mood
    </h2>

    <form action="/insert_mood" method="post">


      <div>
        <label for="label_box">
          Mood
        </label>

        <input type="text" id="label_box" name="query_label">
      </div>

      <button>
        Create mood
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Mood
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_moods.each do |a_mood| %>
      <tr>
        <td>
          <%= a_mood.id %>
        </td>

        <td>
          <%= a_mood.label %>
        </td>

        <td>
          <%= time_ago_in_words(a_mood.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_mood.updated_at) %> ago
        </td>

        <td>
          <a href="/moods/<%= a_mood.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
