<div>
  <div>
    <h1>
      Your <%= @the_mood.label %> Playlists
    </h1>

    <div>
      <div>
        <a href="/moods">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_mood/<%= @the_mood.id %>">
          Delete mood
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Playlists count
      </dt>
      <dd>
        <%= @the_mood.playlists_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_mood.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_mood.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit mood
    </h2>

    <form action="/modify_mood/<%= @the_mood.id %>"  method="post" >
      <div>
        <label for="title_id_box">
          New Title
        </label>

        <input type="text" id="title_id_box" name="query_title" value="<%= @the_mood.label %>">
      </div>

      <button>
        Update Mood
      </button>
    </form>
  </div>
</div>

<hr>
