<div>
  <div class="mb-3">
    <h1>
      Your Songs
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
    <thead class="thead-light">
      <tr>

        <th scope="col">
          Title
        </th>

        <th scope="col">
         Artist
        </th>

        <th scope="col">
        Playlist
        </th>

        <th scope="col">
        Created
        </th>

        <th scope="col">
        Updated
        </th>

        <th scope="col">
        </th>
      </tr>

  <tbody>
      <% @list_of_songs.each do |a_song| %>
      <tr>

        <td>
          <%= a_song.title %>
        </td>

        <td>
          <%= a_song.artist %>
        </td>

        <td>
          <%= a_song.playlist.title %>
        </td>


        <td>
          <%= a_song.created_at.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= a_song.updated_at.strftime("%b %d, %Y") %>
        </td>

        <td>
          <a href="/songs/<%= a_song.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div>
  <div>
  <div class="mb-2">
    <h2>
      Add a new song
    </h2>
    </div>

    <form action="/insert_song" method="post">

      <div class="mb-2">
        <label for="title_id_box">
          Title
        </label>

        <input type="text" id="title_id_box" name="query_title_id">
      </div>

      <div class="mb-2">
        <label for="artist_id_box">
          Artist
        </label>

        <input type="text" id="artist_id_box" name="query_artist_id">
      </div>

      <div class="mb-2">

      <label for="playlist_id_box">
          Add to Playlist
        </label>
  
      <select id="playlist_id_box" name="query_playlist_id">
          <% @current_user.playlists.order(:title).each do |a_playlist| %>
            <option value="<%= a_playlist.id %>">
              <%= a_playlist.title %>
            </option>
          <% end %>
        </select>
      </div>

      <button class="btn btn-secondary btn-sm">
        Add Song
      </button>
    </form>
  </div>
</div>
