<div>
  <div>
    <h1>
      Song #<%= @the_song.id %> details
    </h1>

    <div>
      <div>
        <a href="/songs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_song/<%= @the_song.id %>">
          Delete song
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Playlist
      </dt>
      <dd>
        <%= @the_song.playlist_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_song.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_song.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_song.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit song
    </h2>

    <form action="/modify_song/<%= @the_song.id %>"  method="post" >
      <div>
        <label for="playlist_id_box">
          Playlist
        </label>

        <input type="text" id="playlist_id_box" name="query_playlist_id" value="<%= @the_song.playlist_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_song.user_id %>">
      </div>

      <button>
        Update song
      </button>
    </form>
  </div>
</div>

<hr>
