<div>
  <div>
    <h1>
      "<%= @the_song.title %>" by <%= @the_song.artist %>
    </h1>

    <hr>

    <dl>
      <dt class="mb-2">
        Playlist
      </dt>
      <dd>
      <a href="/playlists/<%= @the_song.playlist_id %>" class="list-group-item list-group-item-action col-sm-2">
        <%= @the_song.playlist.title %>
      </a>
      </dd>


    </dl>
  </div>
</div>

<hr>


<div>
  <div>
  <div class="mb-2">
    <h2>
      Edit song
    </h2>
    </div>

    <form action="/modify_song/<%= @the_song.id %>"  method="post" >

      <div class="mb-2">
        <label for="title_id_box">
          Title
        </label>

        <input type="text" id="title_id_box" name="query_title_id" value="<%= @the_song.title %>">
      </div>

      <div class="mb-2">
        <label for="artist_id_box">
          Artist
        </label>

        <input type="text" id="artist_id_box" name="query_artist_id" value="<%= @the_song.artist%>">
      </div>

      <div class="mb-2">
      <label for="playlist_id_box">
          Playlist
        </label>
  
      <select id="playlist_id_box" name="query_playlist_id">
          <% @current_user.playlists.order(:title).each do |a_playlist| %>
            <option value="<%= a_playlist.id %>">
              <%= a_playlist.title %>
            </option>
          <% end %>
        </select>
      </div>
    </div>

      <button class="btn btn-outline-warning btn-sm mb-2">
        Update song
      </button>
    </form>
  </div>
    <div>
        <a href="/delete_song/<%= @the_song.id %>">
        <button class="btn btn-outline-danger btn-sm">
          Delete song
          </button>
        </a>
      </div>
</div>

<hr>

<div>
  <a href="/songs">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg> Back
        </a>
</div>


  