<div>
  <div>
    <h1>
      "<%= @the_song.title %>" by <%= @the_song.artist %>
    </h1>

    <div>
      <div>
        <a href="/songs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_song/<%= @the_song.id %>">
          Delete song
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Playlist
      </dt>
      <dd>
        <%= @the_song.playlist.title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_song.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_song.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit song
    </h2>

    <form action="/modify_song/<%= @the_song.id %>"  method="post" >

      <div>
        <label for="title_id_box">
          Title
        </label>

        <input type="text" id="title_id_box" name="query_title_id" value="<%= @the_song.title %>">
      </div>

      <div>
        <label for="artist_id_box">
          Artist
        </label>

        <input type="text" id="artist_id_box" name="query_artist_id" value="<%= @the_song.artist%>">
      </div>

      <label for="playlist_id_box">
          Add to Playlist
        </label>
  
      <select id="playlist_id_box" name="query_playlist_id">
          <% Playlist.all.order(:title).each do |a_playlist| %>
            <option value="<%= a_playlist.id %>">
              <%= a_playlist.title %>
            </option>
          <% end %>
        </select>
      </div>

      <button>
        Update song
      </button>
    </form>
  </div>
</div>

<hr>
