<div>
  <div class="mb-3">
    <h1>
      Your Playlists
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table table-hover">
  <thead class="thead-light">
      <tr>

        <th scope="col">
          Playlist
        </th>

        <th scope="col">
          Mood
        </th>

        <th scope="col">
          Created at
        </th>

        <th scope="col">
          Updated at
        </th>

        <th scope="col">
        </th>
      </tr>
  
    <tbody>
      <% @list_of_playlists.each do |a_playlist| %>
      <tr>

        <td>
          <%= a_playlist.title %>
        </td>

        <td>
          <%= a_playlist.genre.label %>
        </td>
        
        <td>
          <%= time_ago_in_words(a_playlist.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_playlist.updated_at) %> ago
        </td>

        <td>
          <a href="/playlists/<%= a_playlist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div>
  <div>
    <div class="mb-2">
    <h2>
      Add a new playlist
    </h2>
    </div>

    <form action="/insert_playlist" method="post">
      <div class="mb-2">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div class="mb-2">
        <label for="mood_id_box">
          Mood
        </label>
  
      <select id="mood_id_box" name="query_mood">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>
     
      </div>

      <button class="btn btn-secondary">
        Create Playlist
      </button>
    </form>
  </div>
</div>