<div>
  <div>
    <h1>
      Your Playlists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>

        <th>
          Playlist
        </th>

        <th>
          Mood
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_playlists.each do |a_playlist| %>
      <tr>

        <td>
          <%= a_playlist.title %>
        </td>

        <td>
          <%= a_playlist.genre.label %>
        </td>
        
        <td>
          <%= time_ago_in_words(a_playlist.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_playlist.updated_at) %> ago
        </td>

        <td>
          <a href="/playlists/<%= a_playlist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new playlist
    </h2>

    <form action="/insert_playlist" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="mood_id_box">
          Mood
        </label>
  
      <select id="mood_id_box" name="query_mood">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>
     
      </div>

      <button>
        Create Playlist
      </button>
    </form>
  </div>
</div>