<div>
  <div>
    <h1>
      <%= @the_playlist.title %>
    </h1>

    <hr>

    <dl>
      <dt>
        Songs
      </dt>
       <dd>
        <% @the_playlist.songs.all.each do |a_song| %>
          <li>
          <a href="/songs/<%= a_song.id %>">
          "<%= a_song.title %>" by <%= a_song.artist %>
          </a>
          </li>
        <% end %>
      </dd>

      <dt>
        Total Songs
      </dt>
      <dd>
        <%= @the_playlist.songs.all.count %>
      </dd>

      <dt>
        Mood
      </dt>
      <dd>
      <a href="/moods/<%= @the_playlist.mood_id %>">
        <%= @the_playlist.genre.label %>
      </a>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_playlist.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_playlist.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit playlist
    </h2>

    <form action="/modify_playlist/<%= @the_playlist.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_playlist.title %>">
      </div>

      <div>
        <label for="mood_id_box">
          Mood
        </label>

        <select id="mood_id_box" name="query_mood_id">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>

      </div>

      <button>
        Update playlist
      </button>
    </form>
  </div>
</div>

<hr>

<div>
      <div>
        <a href="/playlists">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_playlist/<%= @the_playlist.id %>">
          Delete playlist
        </a>
      </div>
    </div>