<div>
  <div>
    <h1>
      <%= @the_playlist.title %>
    </h1>

    <hr>

    <dl>
      <dt class="mb-2">
        Songs
      </dt>
       <dd>
        <% @the_playlist.songs.all.each do |a_song| %>
          <li class="list-group list-group-flush">
          <a href="/songs/<%= a_song.id %>" class="list-group-item list-group-item-action col-sm-4">
          "<%= a_song.title %>" by <%= a_song.artist %>
          </a>
          </li>
        <% end %>
      </dd>

      <dt>
        Total Songs
      </dt>
      <dd>
        <%= @the_playlist.songs.all.count %>
      </dd>

      <dt class="mb-2">
        Mood
      </dt>
      <dd>
      <a href="/moods/<%= @the_playlist.mood_id %>" class="list-group-item list-group-item-action col-sm-2">
        <%= @the_playlist.genre.label %>
      </a>
      </dd>


    </dl>
  </div>
</div>

<hr>


<div>
  <div>
  <div class="mb-2">
    <h2>
      Edit playlist
    </h2>
    </div>

    <form action="/modify_playlist/<%= @the_playlist.id %>"  method="post" >
      <div class="mb-2">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_playlist.title %>">
      </div>

      <div class="mb-2">
        <label for="mood_id_box">
          Mood
        </label>

        <select id="mood_id_box" name="query_mood_id">
          <% @current_user.moods.order(:label).each do |a_mood| %>
            <option value="<%= a_mood.id %>">
              <%= a_mood.label %>
            </option>
          <% end %>
        </select>

      </div>

      <button class="btn btn-outline-dark btn-sm mb-2">
        Update playlist
      </button>
    </form>
  </div>
    <div>
        <a href="/delete_playlist/<%= @the_playlist.id %>">
        <button class="btn btn-outline-danger btn-sm">
          Delete playlist
          </button>
        </a>
      </div>
</div>

<hr>

<div>
      <div>
        <a href="/playlists">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg> Back
        </a>
      </div>


    </div>