<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  
  <h1> Mood Board </h1>

  
  <% if @current_user != nil %>
        <li>
          <a href="/edit_user_profile">
            Edit Profile <%= @current_user.username %>
          </a>
        </li>

        <li>
          <a href="/playlists">
            My Playlists
          </a>
        </li>

        <li>
          <a href="/songs">
            My Songs
          </a>
        </li>

        <li>
          <a href="/moods">
            My Moods
          </a>
        </li>

         <li>
          <a href="/user_sign_out">
            Sign out
          </a>
        </li>
        <% else %>
      <% end %>

    <p style="color: green">
      <%= notice %>
    </p>

    <p style="color: red">
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
